#header {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
}
#example {
  width: 80%;
}
.exampleContainer {
  margin-top: 2rem;
}
#exampleDescription {
  font-size: 1rem;
  font-weight: 500;
}
.instructions li,
.remarks li {
  margin-top: 0.5rem;
  font-size: 1rem;
}
#resultContainer {
  min-height: 10vh;
}
button {
  margin-bottom: 1rem;
  border: 0 solid #e2e8f0;
  background-color: transparent;
  background-image: none;
  color: inherit;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border-radius: 10%;
  font-size: 1rem;
}
input {
  border: 0 solid #e2e8f0;
  background-color: transparent;
  background-image: none;
  color: inherit;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border-radius: 5%;
  font-size: 1rem;
}

.projecttitle {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 0.3rem;
}
.bar {
  height: 0.2rem;
  width: 13rem;
  background-color: #e45447;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 0.3rem;
}

.sectionouter {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  button {
    border: 0 solid #e2e8f0;
    background-color: transparent;
    background-image: none;
    color: inherit;
  }
  #example {
    width: 66%;
  }
  .bg {
    width: 100%;
    background-color: #f2f0ee;
    padding-top: 4rem;
    padding-bottom: 4rem;
    --bg-opacity: 1;
    background-color: rgba(242, 240, 238, var(--bg-opacity));
  }
  .exampleContainer {
    margin-top: 2rem;
  }
  .layout {
    border-radius: 0.5rem;
    --text-opacity: 1;
    color: rgba(88, 89, 91, var(--text-opacity));
    background-color: #ffffff;
    max-width: 72rem;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
  }
  #exampleDescription {
    font-size: 1rem;
    font-weight: 500;
  }
  .flex {
    display: flex;
  }
  .layout-right {
    flex: 1;
  }
  #header {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
  }

  .instructions,
  .remarks {
    font-size: 1.3rem;
  }

  header {
    margin-top: 2.5rem;
    display: flex;
  }
  .header-left {
    flex: 1;
  }
}
